@media (max-width: 765px) {
    #img-visa{
        width: 200px;
    }
}

.footer-copyright.text-center.py-3 {
    background-color: black;
}

a#carLink{
    color: white;
}

.footer-copyright.text-center.py-3 {
    color: white;
}

.list-unstyled li i{
    font-size: 20px;
    margin-right: 10px;
}