@media (max-width: 765px) {
    #img-visa{
        width: 200px;
        
    }
}

#img-visa{
    margin-top: 10px;
}

.footer-copyright.text-center.py-3 {
    background-color: #007bff!important;
}

a#carLink{
    color: white;
}

.footer-copyright.text-center.py-3 {
    color: white;
}

.list-unstyled li i{
    font-size: 20px;
    margin-right: 10px;
}

footer.page-footer.font-small.stylish-color-dark {
    background-color: #f1f2f6!important;
}

button.btn.btn-outline-danger.btn-close.float-right {
    font-weight: bold;
    border: 2px solid;
}
